*,
*::before,
*::after {
  margin: 0;
}

:root{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    line-height: 1.8;

    --header-color: #202C33;
    --chat-list-color: #111B21;
    --text-color: #E9EDE3;
    --icon-color: #AEBAC1;
    --chat-type-color: #2A3942;
    --chat-notif-bg-color: #182229;
    --chat-notif-text-color: #F1D25F;
    --scrollbar-color: #323A3F;
    --light-green: #25D366;
    --text-font-weight: 400;
    --title-font-weight: 600;
    --transition-time: 0.2s;
    --current-user-message-color: #005C4B;
    --title-font: 'Montserrat', sans-serif;
    --box-shadow: 19px 11px 5px -1px rgba(13,13,13,0.44);
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    opacity: 0.5;
    transition: var(--transition-time);
}
  

.sidebar-header{
    background-color: var(--header-color);
    padding: 1rem;
}

.avatar{
    width: 40px;
    height: 40px;
}

.sidebar-header i{
    color: var(--icon-color);
    font-size: 2.2rem;
    padding: 1rem;
    transition: var(--transition-time);
}

.sidebar-header i:hover{
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition-time);
    scale: 1.1;
}

.search-chat{
    border-radius: 0.5rem;
}

.search-chat, .search-chat input{
    background-color: var(--header-color);
    border: none;
    font-size: 3rem;
    color: var(--icon-color) !important;
}

.search-chat input::placeholder{
    color: var(--icon-color);
    font-size: 3rem;
    font-weight: var(--text-font-weight);
}

.search-chat input:focus{
    outline: none;
    background-color: var(--header-color);
    box-shadow: none;
}

.search-chat i{
    color: var(--icon-color);
    font-size: 3rem;
    padding: 1rem;
    transition: var(--transition-time);
}

.fa-plus:hover{
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition-time);
    scale: 1.1;
}

#usersConnected{
    color: var(--icon-color);
    font-size: 1.5rem;
}

.fa-user{
    color: var(--icon-color);
    font-size: 4rem;
    transition: var(--transition-time);
}

.chat-group{
    background-color: var(--chat-list-color);
    overflow-y: scroll;
    height: calc(100vh - 62px);
}

.chat-preview{
    background-color: var(--chat-list-color) !important;
    border: none !important;
}

.chat-preview .card-title{
    color: var(--text-color);
    font-size: 1.7rem;
}

.chat-preview .card-text{
    color: var(--text-color);
    font-size: 1.2rem;
}

.chat-header{
    background-color: var(--header-color);
    padding: 1rem;
    color: var(--icon-color);
}

.chat-header .search-in-chat i{
    color: var(--icon-color);
    font-size: 2.2rem;
    padding: 1rem;
    transition: var(--transition-time);
}

.chat-header .search-in-chat i:hover{
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition-time);
    scale: 1.1;
}

.chat-messages{
    background-image: url("../images/bg-img.jpg");
    overflow-y: scroll;
    height: calc(100vh - (62px + 62.5px));
}

.single-message-other-user, .single-message-my-user{
    width: max-content;
    height: max-content;
    max-width: 40%;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    word-break: break-all;
}

.single-message-other-user{
    background-color: var(--header-color);
}

.single-message-my-user{
    background-color: var(--current-user-message-color);
}

.single-message-content, .single-message-username{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.single-message-username{
    font-size: 1.75rem;
}

.single-message-date{
    font-size: 1rem;
    color: var(--icon-color);
}

.chat-type{
    background-color: var(--header-color);
}

.chat-type i{
    color: var(--icon-color);
    font-size: 2.2rem;
    padding: 1rem;
    transition: var(--transition-time);
}

.chat-type i:hover{
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition-time);
    scale: 1.1;
}

.chat-type input{
    background-color: var(--chat-type-color);
    border: none;
    font-size: 1.5rem;
    color: var(--text-color) !important;
    border-radius: 0.5rem;
    padding: 1rem;
}

.chat-type input::placeholder{
    color: var(--icon-color);
    font-size: 1.5rem;
    font-weight: var(--text-font-weight);
}

.chat-type input:focus{
    outline: none;
    background-color: var(--chat-type-color);
    box-shadow: none;
}

.chat-notification{
    background-color: var(--chat-notif-bg-color);
    color: var(--chat-notif-text-color);
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

ul.dropdown-menu{
    background-color: var(--header-color);
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.dropdown-item{
    color: var(--text-color) !important;
    font-size: 1.5rem;
    padding: 1rem;
    transition: var(--transition-time);
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: var(--header-color);
    cursor: pointer;
}

.lobby{
    background-image: url("../images/bg-img.jpg");
    height: 100vh;
}

.title-lobby{
    color: var(--text-color);
    font-size: 5rem;
    font-weight: var(--title-font-weight);
}

.usernameInHeader{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: var(--text-font-weight);
}

.typing{
    color: var(--light-green) !important;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    display: none;
}

#chatSelect{
    background-color: var(--header-color);
    border: none;
    font-size: 2rem;
    color: var(--text-color) !important;
    border-radius: 0.5rem;
    padding: 2rem;
}

input#joinChatButton{
    background-color: var(--light-green);
    border: none;
    font-size: 3rem;
    color: var(--header-color) !important;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: var(--transition-time);
    text-transform: uppercase;
    width: 15%;
}

input#joinChatButton:hover{
    cursor: pointer;
    transition: var(--transition-time);
    scale: 1.05;
}

input#imageInput{
    display: none;
}

input#chatImageInput{
    display: none;
}


.userPhotoDiv{
    width: 15%;
    background-color: var(--header-color);
    border: none;
    font-size: 2rem;
    color: var(--text-color) !important;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: var(--transition-time);
    text-transform: uppercase;
}

.userPhotoDiv:hover{
    cursor: pointer;
    transition: var(--transition-time);
    scale: 1.05;
}

.fa-download{
    color: var(--icon-color);
    font-size: 1.75rem;
    transition: var(--transition-time);
}

.fa-download:hover{
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition-time);
}